@import "tailwindcss";


@theme {
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #F4F4F5;
    --color-accent: #1D4ED8;
    --color-text-primary: #111827;
    --color-text-secondary: #6B7280;
}


.country-card .card-front {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.country-card .card-back {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.country-card:hover .card-front {
    opacity: 0;
}

.country-card:hover .card-back {
    opacity: 1;
}